body{
    background-color: rgb(202, 127, 222);
}
h1, h2, h3{
    color: rgb(255, 240, 240);
    text-align: center; 
}
.text{
    width: 1000px;
    padding: 100px, 0;
    margin: 0 auto;
    font-family: fantasy;
    font-size: xx-large;


}

@media (max-width: 600px) {
    .text{
        width: 100%;
    }
}

@media (min-width: 601px) {
    .text{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .text{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .text{
        width: 100%;
    }
}