body{
    background-color: white;
    font-family: "Quicksand", sans-serif;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
h1, h2{
    text-align: center; 
}
.text{
    width: 1000px;
    padding: 100px, 0;
    margin: 0 auto;
}




@media (max-width: 600px) {
    .text{
        width: 100%;
    }
}

@media (min-width: 601px) {
    .text{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .text{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .text{
        width: 100%;
    }
} 